.section-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 9px 0;
}

.article {
  padding: 24px;
  margin: 32px;
  width: 22%;
  color: black;
  background-color: white;
  border: 1px solid #dcdcdc;
  box-shadow: 1px 1px 11px 1px #c8d4dc;
  text-align: center;
  border-radius: 10px;
}

.article>img{
  width: 100%;
  padding-bottom: 2vw;
}

#imagenes{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

a{
  text-decoration: none;
  color: #060606; 
  padding: 10px;
  border: 1px solid #FF9800;
  border-radius: 10px;
  top: 21px;
  background-color: antiquewhite;
  font-family: monospace;
}

a:hover{
  background-color: #eabd7b;
  box-shadow: -1px 0 7px 1px orange;
}

#errores{
  width: 70%;
  background-color: #ed143d21;
  padding: 22px;
  border: 1px solid #fd9e9e;
  border-radius: 19px;
  margin: 0 auto;
}

#errores>h4{
  margin: 0;
  font-family: monospace;
}